<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Express • Todo</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <section class="prompt">
      <h3>todos</h3>
      <h1>Sign in</h1>
      <!-- This button tap redirects to http://localhost:8080/api/login/federated/google -->
      <a class="button google" href="/api/login/federated/google"
        >Sign in with Google</a
      >
      <hr />
      <p class="help">Don't have an account? <a href="/signup">Sign up</a></p>
    </section>
  </body>
</html>
